@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    height: 5000px;
}

/* header */
.header {
    border-bottom: 1px solid #eee;
    justify-content:space-between;
    position: relative;
    background-color: #fff;
}

/*small screen*/
.dots-icon-container{
    display: none;
    cursor: pointer;
    font-size: 25px;
}

/*small screen*/
.content-screen{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    z-index: 100;
}

/*small screen*/
.address-screen {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  /*small screen*/
  .address-screen i {
    font-size: 24px;
  }

  /*small screen*/
  .address-screen span {
    margin: 0;
    font-size: 12px;
    color: #333;
  }

.address{
    display: flex;
    flex-wrap: wrap;
}

.contact-button {
    font-size: 14px;
    color: #151515;
    line-height: 2;
    font-weight: 700;
    border: 1px solid #c14679;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.7s;
}

.contact-button i {
    color: #151515;
    font-size: 17px;

}

.contact-button:hover {
    background-color: #c14679;
    color: #fff;
}

.contact-button:hover i {
    color: #FFF;
}


/*media header*/


/* small screen*/
@media (max-width: 767px) and (min-width: 576px){

.address{
    display: none;
}

.header{
    justify-content: space-around;
    border-bottom: none;
    
}

.dots-icon-container{
    display: block;
}

.contact-button{
    font-size: 9px;
}

.contact-button i{

font-size: 12px;
}
.logo img{

    width: 60%;
    height: 60%;
    margin-left: 60px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.header:hover .content-screen {
    display: block; 
  }

}

/*medium screen*/
@media (max-width: 991px) and (min-width: 768px){

    .address{
        display: none;
    }
    
    .header{
        justify-content: space-around;
        
    }
    
    .dots-icon-container{
        display: block;
        margin: 4px 0;
    }
    
    .contact-button{
        font-size: 12px;
        margin: 4px 0;
    }
    .logo img{
    
        width: 70%;
        height: 70%;
        margin-left: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .header:hover .content-screen {
        display: block; 
      }

}







/* Navbar */



.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #c14679;
}

.navbar {

    align-items: center;
    padding: 10px 20px;

}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}


.search-icon,
.cart-icon {
    font-size: 18px;
    margin-right: 20px;
    color: #000;
    cursor: pointer;
}




.first-section {

    background-image: url('./../img/sections/fs-1.jpg');
    background-size: cover;
    background-position: -400px;
    position: relative;


}


.design-word {
    color: #c14679;
    font-family: "Great Vibes", cursive;
    font-size: 110px;
    line-height: 1;
}

.fs-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 6px;
    letter-spacing: 4px;
}

.fs-content p {

    color: #777777;
    font-size: 27px;
    width: 60%;
    margin-top: 12px;
    letter-spacing: 2px;
}


.shop-button {
    display: inline-block;
    margin-top: 8px;
    padding: 20px 50px;
    background-color: #c14679;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.7s;
}

.shop-button:hover {
    background-color: #a34967;
}


.second-section {

    background-image: url('./../img/sections/fs-2.jpg');
    background-size: cover;
    background-position: 50% 100%;
    border: 10px solid #f3f7f8;
    padding: 12% 0;
    margin-top: -50px;
    z-index: 1;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.sec-content{
  margin-top: -5%;
}

.sec-content h3 {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    color: #c14679;

}

.sec-content p {

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    width: 58%;
    color: #777777;
    font-size: 20px;
}

.arrow-icon {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    color: #fff;
    background-color: #c14679;
    cursor: pointer;
    transition: background-color 0.7s;
    justify-content: center;
    align-items: center;
}

.arrow-icon:hover {
    background-color: #a34967;
}


.third-section {

    padding: 70px 0;

}

.third-section h2 {
    font-size: 50px;
    margin-top: 15px;
}

.card {
    border: none;
}

.card img {
    border: 1px solid #cccbcb;
    padding: 10px;
    transition: transform 0.7s 0.7s, box-shadow 0.7s 0.7s, padding 0.7s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.card:hover .btn-read-more {

    text-decoration: none;
    color: #c14679;
    border: 2px solid #c14679;
    padding: 10px;

}



.card-content h4 {
    font-weight: bold;
    margin-top: 20px;
}

.card-content .card-text {

    width: 69%;
    margin-left: auto;
    margin-right: auto;

}

.btn-read-more {
    display: inline-block;
    color: #a3a3a3;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.7s, text-decoration 0.7s, border 0.7s, padding 0.7s;
}

.btn-read-more:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border: 2px solid;

}


.fourth-section {

    background-image: url('./../img/sections/fs-4-bg.jpg');
    background-size: auto;
    background-position: center;
}

.fourth-section h2 {
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
}




.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 65px;
    height: 400px;
    position: relative;
    transition: height 0.7s;
}


.product-card .sale-word {
    background-color: #c14679;
    border-radius: 7px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff
}

.product-card .new-word {

    background-color: #000;
    border-radius: 7px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff
}

.product-card img {

    width: 150px;
    height: 150px;
}

.product-card h4 {

    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #969393;
    margin-right: 3%;
}

.product-card .new-price {

    color: #c14679;
    font-weight: bold;
}

.hover-icons {
    margin-top: 20px;
    display: none;

}

.product-card:hover .hover-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hover-i {
    background-color: #c14679;
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;

}

.hover-i:hover {
    color: #fff;
    background-color: #000;
}


.product-card:hover {
    height: 450px;
    cursor: pointer;
}

.carousel {

    position: relative;
    height: 69%;

}

.carousel-indicators {
    bottom: -5%;
}

.carousel-indicators [data-bs-target] {

    border-radius: 50%;
    width: 15px;
    height: 15px;


}

.carousel-indicators .first-ind {
    background-color: #c14679;

}

.carousel-indicators .second-ind {
    background-color: #c14679;


}


.fifth-section h2 {

    margin-top: 7%;
}



.quality-content p {
    color: #777777;
    width: 65%;
    margin-left: 17%;
    margin-top: 4%;
}

.quality-section i {

    font-size: 250%;
    margin-right: 11%;
    margin-top: 7%;
}

.first-item-border {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.second-item-border {
    border-bottom: 1px solid #ddd;
    padding-bottom: 48px;
    margin-bottom: 20px;
}


.strawberry-img {
    margin-right: 12%;
    margin-top: 14%;
    margin-bottom: 12%;
    margin-left: 7%;
}

.service-content p {
    color: #777777;
    width: 67%;
    margin-left: 17%;
    margin-top: 4%;
}

.service-section i {
    font-size: 250%;
    margin-left: 11%;
    margin-top: 7%;
}


.delivery-section {
    width: 120%;
    margin-top: -7%;
}


.delivery-content h4 {
    margin-left: -14%;
}


.delivery-content p {
    color: #777777;
    width: 70%;
    margin-top: 4%;
    margin-left: 10%;

}

.delivery-section i {
    font-size: 250%;
    margin-right: 48%;
    margin-top: 2%;


}

.payment-section {

    margin-top: -7%;

}

.payment-content h4 {

    margin-right: -8%;

}

.payment-content p {
    color: #777777;
    width: 70%;
    margin-top: 4%;
    margin-left: 20%;
}

.payment-section i {

    font-size: 250%;
    margin-left: 44%;
    margin-top: 2%;

}



.sixth-section {

    background-image: url('./../img/sections/fs-6-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.sixth-section-content {
    margin-left: 4%;
    margin-top: 12%;

}

.sixth-section-content h1 {

    font-weight: bold;
    font-size: 50px;
    color: #000;
}

.sixth-section-content .section-discount {
    font-family: "Great Vibes", cursive;
    color: #c14679;
    font-size: 45px;
    ;
}

.sixth-section-content span {
    font-size: 60%;
    font-weight: bold;
    color: #000;
    margin-left: 1%;

}

.sixth-section-content p {
    color: #777777;
    width: 73%;
}




.seventh-section {

    background-image: url('./../img/sections/fs-4-bg.jpg');
    background-size: auto;
    background-position: center;

}

.seventh-section h2 {

    margin-top: 4%;
}

.seventh-section .row {

    margin-top: 4%;
}

.member-image {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.team-member h4 {
    font-weight: bold;
    padding-top: 3%;
}

.team-member p {
    color: #908d8d;
    width: 70%;

}

.seventh-section-icons {

    margin-top: 2%;
}

.seventh-section-icons i {

    color: #000;
    font-size: 17px;
    margin: 0 7px;
    transition: color 0.7s;
}

.seventh-section-icons i:hover {

    color: #c14679;
}

.eighth-section {

    background-image: url('./../img/sections/fs-8-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    padding: 6% 0;
    

}

.eighth-section .row {

    margin-top: 3%;
}

.eighth-section-content{

    margin-top: 3%;
}

.small-heading {

    font-family: "Great Vibes", cursive;
    font-size: 40px;
    color: #c14679;
    font-weight: 100;

}

.main-heading {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}


.second-read-more-btn {
    background-color: #c14679;
    color: #fff;
    padding: 20px 35px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 2%;
    transition: background-color 0.7s;
}

.second-read-more-btn:hover {
    background-color: #A13A5C;
}

/* ninth section */

.ninth-section{

    background-image: url('./../img/sections/fs-4-bg.jpg');
    background-size: auto;
    background-position: center;
    height: 600px;
}



.testimonials-title {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
    padding: 13px 0;

}

.testimonial-opinion{
    margin-top: 6%;
}

.quote {
    font-size: 50px;
    color: rgba(193, 70, 121, 0.6);
    margin-right: 4%;

}

.opinion-text {
    font-size: 18px;
    color: #908d8d;

}

.testimonial-name {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}

.testimonial-role {
    color: #c14679;
    font-style: italic;
    font-weight: 400;

}

.second-testimonial,.fourth-testimonial{
    margin-left: 7%;
}


/* tenth section */

.tenth-section {

    background-image: url('./../img/sections/fs-10-bg.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 50px 0;

}

.tenth-img{
    width: 100px;
    
}


/* footer section */

.footer{
    
    padding: 5% 0;
    border-bottom: 1px solid #aea8a8;
    }

    .footer .row>*{
        padding: 1% 1%;
    }

  

.footer h5 {
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 3px;
}



.footer .gallery img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 2px;
    


}


.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer .link-line {
    width: 18px;
    height: 2px;
    background-color:#cccbcb;
    margin-right: 10px;
    display: inline-block;
  } 


.footer ul li a {
    color: #000;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #c14679;
    cursor: pointer;
}

.footer .footer-social-icons a {
    display: flex;
    text-decoration: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #575757;
    color:#5c5a5a;
    font-size: 16px;
    transition: color 0.7s, border 0.4s;
  }

  .footer .footer-social-icons a:hover {
    color: #c14679;
    border: 1px solid #c14679;
  }


/* copy right statement */
  
.simple-footer{

    padding: 2% 0;
}

.simple-footer p {
    font-size: 14px;
    color: #666;
}

.simple-footer a {
    text-decoration: none;
    color: #666;
}

.simple-footer a:hover {
    color: #c14679;
    cursor: pointer;
}

